<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  <servlet-name>loginFail</servlet-name>
<jsp-file>/loginFail.jsp</jsp-file>
  </servlet>
  <servlet>
  
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEmpInfoServlet</servlet-name>
  	<display-name>GetEmpInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.GetEmpInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<display-name>ProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<display-name>LoginPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.LoginPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FrontServlet</servlet-name>
  	<display-name>FrontServlet</display-name>
  	<description></description>
  	<servlet-class>com.covalense.empweb.servlet.FrontServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEmpInfoServlet</servlet-name>
  	<url-pattern>/getinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginFail</servlet-name>
  <url-pattern>/loginFail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FrontServlet</servlet-name>
  	<url-pattern>/front</url-pattern>
  </servlet-mapping>
  
    <session-config>
        <session-timeout>674800</session-timeout>
    </session-config>

</web-app>
